.ant-radio-checked .ant-radio-inner {
    border-color: #fe5000 !important;
    background-color: #fe5000 !important;
  }
  
  .ant-radio:hover .ant-radio-inner,
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: #fe5000 !important;
  }
  